
# Dependencies
frontend/node_modules
/venv

# Environment files
.env
.env.local
/frontend
# Build files
frontend/build
frontend/dist
frontend/
# Cache
frontend/.cache
__pycache__
*.pyc

# System files
.DS_Store